<!doctype html>
<html class="no-js" lang="">

    <head>
        <meta charset="utf-8">
        <title>Splitleaf, LLC</title>
        <meta name="description" content="Website for Splitleaf, LLC">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="/img/favicon.png">

        <style>
            /* http://meyerweb.com/eric/tools/css/reset/
            v2.0 | 20110126
            License: none (public domain)
            */

            html, body, div, span, applet, object, iframe,
            h1, h2, h3, h4, h5, h6, p, blockquote, pre,
            a, abbr, acronym, address, big, cite, code,
            del, dfn, em, img, ins, kbd, q, s, samp,
            small, strike, strong, sub, sup, tt, var,
            b, u, i, center,
            dl, dt, dd, ol, ul, li,
            fieldset, form, label, legend,
            table, caption, tbody, tfoot, thead, tr, th, td,
            article, aside, canvas, details, embed,
            figure, figcaption, footer, header, hgroup,
            menu, nav, output, ruby, section, summary,
            time, mark, audio, video {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }
            /* HTML5 display-role reset for older browsers */
            article, aside, details, figcaption, figure,
            footer, header, hgroup, menu, nav, section {
                display: block;
            }
            body {
                line-height: 1;
            }
            ol, ul {
                list-style: none;
            }
            blockquote, q {
                quotes: none;
            }
            blockquote:before, blockquote:after,
            q:before, q:after {
                content: '';
                content: none;
            }
            table {
                border-collapse: collapse;
                border-spacing: 0;
            }
        </style>

        <style>
            body {
                background: #e6ece6;
                text-align: center;
                font-family: sans-serif;
                font-size: 1em;
            }
            #content {
                position: fixed;
                top: 50%;
                right: 0;
                left: 0;
                bottom: 0;
                height: auto;
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            #logo {
                display: block;
                height: auto;
                margin: 0 auto 60px;
                width: 100%;
                max-width: 300px;
            }
            #links,
            #links li {
                display: inline;
                margin: 0;
                padding: 0;
                list-style: none;
            }
            #links a,
            #links a:link,
            #links a:visited {
                color: #739376;
                display: inline-block;
                padding: 5px 15px;
                text-decoration: none;
                text-shadow: 0 1px 0 #c9d5ca;
                transition: all .15s ease-in-out;
            }
            #links a:active,
            #links a:hover {
                color: #455a48;
                text-shadow: 0 1px 0 #819e84;
            }
        </style>
    </head>

    <body>

        <main id="content">
            <img src="/img/logo-splitleaf.svg" alt="Splitleaf, LLC logo" id="logo" width="300">

            <ul id="links">
                <li>
                    <a href="https://www.facebook.com/seriouslysean">Facebook</a>
                </li>
                <li>
                    <a href="https://www.twitter.com/seriouslysean">Twitter</a>
                </li>
                <li>
                    <a href="https://www.github.com/seriouslysean">GitHub</a>
                </li>
            </ul>
        </main>

        <script>
            window.ga = function () {
                ga.q.push(arguments);
            };
            ga.q = [];
            ga.l = +new Date;
            ga('create', 'UA-39320019-2', 'auto');
            ga('set', 'anonymizeIp', true);
            ga('set', 'transport', 'beacon');
            ga('send', 'pageview');
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async></script>
    </body>

</html>
